body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
}

.caixa {
    width: 500px;
    background: white;
    margin: 100px auto;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
    color: #007bff;
}

p {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}